.homeContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  letter-spacing: 5px;
  z-index: 3;
  position: relative;
  // overflow: hidden;
  @media screen and (max-width: 1224px) {
    justify-content: center;
  }
  img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    @media screen and (max-width: 1224px) {
      display: cover;
      width: 200vw;
    }
  }
  .slogan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 50%;
    // background-color: #fff;
    z-index: 2;
    @media screen and (max-width: 1224px) {
      width: 80vw;
    }
    .name {
      letter-spacing: 12px;
      font-size: 1.8em;
      text-align: center;
      h1 {
        margin: 0%;
      }
    }
    .headline {
      text-align: center;
      color: #11fff1;
    }
    .catchphrase {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }
}

.aboutUs {
  height: 100vh;
  padding: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, #000, #001311);

  h1 {
    letter-spacing: 8px;
    z-index: 2;

    @media screen and (max-width: 1224px) {
      font-size: 1.4em;
      text-align: center;
    }
  }
  .line {
    background-color: #ca267b;
    height: 2px;
    width: 30%;
    z-index: 2;

    @media screen and (max-width: 1224px) {
      width: 100%;
    }
  }
  p {
    width: 50%;
    font-weight: 300;
    line-height: 2rem;
    z-index: 2;

    @media screen and (max-width: 1224px) {
      text-align: justify;
      width: 100%;
    }
  }
  .homeSwirlBackground {
    position: absolute;
    width: 90%;
    z-index: 1;
    @media screen and (max-width: 1224px) {
      margin-left: -10%;
      width: 100%;
    }
  }
}

.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #001311, #000);
  z-index: 3;
  h1 {
    letter-spacing: 8px;
    z-index: 3;
    @media screen and (max-width: 1224px) {
      font-size: 1.4em;
    }
  }
  .line {
    height: 2px;
    width: 30%;
    background-color: #ca267b;
    z-index: 3;

    @media screen and (max-width: 1224px) {
      width: 80%;
    }
  }
  p {
    width: 80%;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 0;
    padding: 0;
    line-height: 2rem;
    z-index: 3;
    @media screen and (max-width: 1224px) {
      width: 80vw;
      text-align: justify;
    }
  }
  .serviceinfo {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;

    @media screen and (max-width: 1224px) {
      width: 100%;
    }
    .swiper-slide {
      @media screen and (max-width: 1224px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .info {
      height: 100%;
      width: 15%;
      border: 2px solid #0d99a3;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
      transition: 0.2s linear all;
      @media screen and (max-width: 1224px) {
        height: 70%;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 8vh;
      }
      h6 {
        letter-spacing: 2px;
        font-size: 1em;
        padding: 2%;
        text-align: center;
        margin: 0;
        z-index: 3;
      }
    }
    .info:hover {
      scale: 1.1;
    }
    .swiper-pagination-bullet {
      background-color: #0d99a3;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #ca267b;
      opacity: 1;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: #ca267b;
    }
  }

  .serviceButton {
    z-index: 3;
    transition: 0.1s linear all;
    cursor: pointer;
  }
  .serviceButton:hover {
    scale: 0.9;
  }
}

.contactUs {
  height: 90vh;
  padding: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-image: linear-gradient(to bottom, #000, #200613);
  z-index: 1;
  @media screen and (max-width: 1224px) {
    align-items: center;
    height: 70vh;
  }
  .homeSwirlBackgroundContact {
    position: absolute;
    transform: rotateZ(180deg);
    scale: 0.9;
    overflow: hidden;
    z-index: 0;
    svg {
      z-index: 1;
    }
    @media screen and (max-width: 1224px) {
      margin-left: -10%;
      width: 100%;
    }
    width: 90%;
  }
  .contactform {
    float: right;
    width: 30%;
    z-index: 21;

    @media screen and (max-width: 1224px) {
      width: 100%;
    }
    h1 {
      letter-spacing: 8px;
      @media screen and (max-width: 1224px) {
        font-size: 1.4em;
      }
    }
    .line {
      height: 2px;
      width: 100%;
      background-color: #ca267b;
    }
    .form {
      display: flex;
      flex-direction: column;
      margin-top: 12%;
      input,
      textarea {
        background-color: transparent;
        border: transparent;
        border-bottom: 2px solid #0d99a3;
        margin: 5% 0%;
        color: #fff;
      }
      textarea {
        resize: none;
        margin-bottom: 10%;
      }
      .contactButton {
        z-index: 3;
        transition: 0.1s linear all;
        cursor: pointer;
      }
      .contactButton:hover {
        scale: 0.9;
      }
    }
  }
}
