@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: #000004;
}

.HtmlContainer {
  height: 100%;
  width: 100vw;
  position: fixed;
  background-color: #00dbde;
  font-family: "Abel", sans-serif;
  z-index: 1;
  .section1 {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .slogan {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      z-index: 2;
      letter-spacing: 3px;
      color: #e5e5e5;
      border-radius: 5%;
      background-color: #000004b7;
      padding: 2% 3%;
      line-height: 2em;
      font-size: 1.5em;
      // margin-top: 5vh;
      margin-bottom: 50vh;
      @media screen and (max-width: 1224px) {
        width: 90vw;
        font-size: 1em;
        // background-color: #ca267b;
      }
      h1 {
        font-weight: 100;
        margin: 0%;
      }
    }
  }
  .section2 {
    width: 100%;
    height: 130vh;
    .aboutUs {
      height: 100vh;
      padding: 0% 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      @media screen and (max-width: 1224px) {
        align-items: flex-start;
        padding: 0% 5%;
      }

      p {
        width: 26%;
        font-weight: 300;
        font-size: 2.5em;
        z-index: 2;

        border-radius: 5%;
        background-color: #000004b7;
        padding: 2% 3%;
        @media screen and (max-width: 1224px) {
          width: 90%;
          font-size: 3em;
        }
        span:nth-child(1) {
          color: #fc00ff;
        }
        span:nth-child(2) {
          color: #00dbde;
        }
      }
    }
  }
  .section3 {
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 10%;
    font-size: 2.5em;
    @media screen and (max-width: 1224px) {
      width: 90%;
      font-size: 3em;
      padding: 0 5%;
    }
    p {
      border-radius: 5%;
      background-color: #000004b7;
      padding: 5% 6%;
    }
    span {
      letter-spacing: 4px;
    }
    span:nth-child(1) {
      color: #00dbde;
    }
    span:nth-child(3) {
      color: #fc00ff;
    }
    span:nth-child(5) {
      color: #00dbde;
    }
    span:nth-child(7) {
      color: #fc00ff;
    }
    span:nth-child(9) {
      color: #00dbde;
    }
    span:nth-child(10) {
      color: #fc00ff;
    }
  }
  .section4 {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: justify;
    text-align-last: center;
    color: #e5e5e5;
    @media screen and (max-width: 1224px) {
      text-align: center;
    }
    .leadWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      border-radius: 5%;
      background-color: #000004b7;
      padding: 2% 3%;
      margin-bottom: 40vh;
      @media screen and (max-width: 1224px) {
        width: 100%;
        padding: 0 5%;
      }

      h1 {
        // width: 30%;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 1224px) {
          width: 100%;
        }
      }
      h3 {
        margin: 0;
        @media screen and (max-width: 1224px) {
          width: 100%;
          font-weight: 100;
          font-size: 1em;
        }
      }
      span {
        margin-top: 3%;
      }
    }
  }
  .section5 {
    width: 100%;
    height: 100vh;
    @media screen and (max-width: 1224px) {
      align-items: center;
      height: 85vh;
    }
    .contactUs {
      height: 100vh;
      padding: 0% 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      z-index: 1;
      @media screen and (max-width: 1224px) {
        padding: 0% 5%;
        align-items: center;
        height: 80vh;
        margin-bottom: -10%;
      }

      .contactform {
        float: right;
        width: 40%;
        z-index: 21;

        @media screen and (max-width: 1224px) {
          width: 100%;
          background-color: #000004b7;
          border-radius: 10px;
        }
        h1 {
          @media screen and (max-width: 1224px) {
            font-size: 1.4em;
          }
        }
        .form {
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1224px) {
            // background-color: #00dbde; /
            height: 50vh;
          }
          input,
          textarea {
            background-color: transparent;
            border: transparent;
            border-bottom: 2px solid #00dbde;
            font-family: "Abel", sans-serif;
            margin: 5% 0%;
            color: #e5e5e5;
          }
          textarea {
            resize: none;
            margin-bottom: 10%;
            padding-bottom: 10%;
          }
          p {
            margin: 0;
            @media screen and (max-width: 1224px) {
              // background-color: #ca267b;
              color: #e5e5e5;
              display: flex;
              justify-content: center;
              padding-bottom: 2.5%;
              font-size: 1.2em;
            }
          }
          .checklist {
            display: flex;
            height: 4vh;
            width: 100%;
            margin-bottom: 7vh;
            align-items: center;
            font-size: 0.7em;
            justify-content: space-between;

            div {
              background-color: #00dade4e;
              color: #e5e5e5;
              padding: 0 2%;
              margin: 0 1%;
              border-radius: 10px;
              width: 60%;
              display: flex;
              justify-content: space-around;
              align-items: center;
            }
            @media screen and (max-width: 1224px) {
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              height: 30vh;
              width: 90%;
              padding: 0 5%;
              font-size: 1em;
              margin: 0;
              div {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5%;
                // background-color: #ca267b;
                @media screen and (max-width: 1224px) {
                  align-items: center;
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
      .contactButton {
        width: 100%;
        margin-top: 5%;
      }
    }
  }
}
