@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.HtmlContainer {
  height: 100%;
  width: 100vw;
  position: fixed;
  background-color: #0d99a3;
  font-family: "Abel", sans-serif;
  .section1 {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .slogan {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      z-index: 2;
      letter-spacing: 3px;
      color: #e5e5e5;
      line-height: 2em;
      font-size: 1.5em;
      // margin-top: 5vh;
      margin-bottom: 50vh;
      @media screen and (max-width: 1224px) {
        width: 90vw;
        font-size: 1em;
        // background-color: #ca267b;
      }
      h1 {
        font-weight: 100;
        margin: 0%;
      }
    }
  }
  .section2 {
    width: 100%;
    height: 130vh;
    .aboutUs {
      height: 100vh;
      padding: 0% 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      @media screen and (max-width: 1224px) {
        align-items: flex-start;
        padding: 0% 5%;
      }

      p {
        width: 26%;
        font-weight: 300;
        font-size: 2.5em;
        z-index: 2;

        @media screen and (max-width: 1224px) {
          width: 90%;
          font-size: 3em;
        }
        span:nth-child(1) {
          color: #ca267b;
        }
        span:nth-child(2) {
          color: #0d99a3;
        }
      }
    }
  }
  .section3 {
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 10%;
    font-size: 2.5em;
    @media screen and (max-width: 1224px) {
      width: 90%;
      font-size: 3em;
      padding: 0 5%;
    }
    span:nth-child(1) {
      color: #0d99a3;
    }
    span:nth-child(2) {
      color: #ca267b;
    }
    span:nth-child(3) {
      color: #0d99a3;
    }
    span:nth-child(4) {
      color: #ca267b;
    }
  }
  .section4 {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: justify;
    text-align-last: center;
    @media screen and (max-width: 1224px) {
      text-align: center;
    }
    .leadWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      @media screen and (max-width: 1224px) {
        width: 100%;
        padding: 0 5%;
      }

      h1 {
        width: 100%;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 1224px) {
          width: 100%;
        }
      }
      h3 {
        width: 99%;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 1224px) {
          width: 100%;
          font-weight: 100;
          font-size: 1em;
        }
      }
    }
  }
  .section5 {
    width: 100%;
    height: 90vh;
    @media screen and (max-width: 1224px) {
      align-items: center;
      height: 85vh;
    }
    .contactUs {
      height: 100vh;
      padding: 0% 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      z-index: 1;
      @media screen and (max-width: 1224px) {
        padding: 0% 5%;
        align-items: center;
        height: 80vh;
        margin-bottom: -10%;
      }

      .contactform {
        float: right;
        width: 40%;
        z-index: 21;

        @media screen and (max-width: 1224px) {
          width: 100%;
          background-color: #0d0d0da2;
          border-radius: 10px;
          margin-top: 30%;
        }
        h1 {
          @media screen and (max-width: 1224px) {
            font-size: 1.4em;
          }
        }
        .line {
          height: 2px;
          width: 100%;
          background-color: #ca267b;
        }
        .form {
          display: flex;
          flex-direction: column;
          input,
          textarea {
            background-color: transparent;
            border: transparent;
            border-bottom: 2px solid #0d99a3;
            font-family: "Abel", sans-serif;
            margin: 5% 0%;
            color: #fff;
          }
          textarea {
            resize: none;
            margin-bottom: 5%;
          }
          p {
            margin: 0;
            color: #ca267b;
            @media screen and (max-width: 1224px) {
              background-color: #ca267b;
              color: #e5e5e5;
              display: flex;
              justify-content: center;
            }
          }
          .checklist {
            display: flex;
            height: 4vh;
            width: 100%;
            margin-bottom: 7vh;
            align-items: center;
            font-size: 0.8em;
            @media screen and (max-width: 1224px) {
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              height: 30vh;
              width: 90%;
              padding: 0 5%;
              font-size: 1em;
              margin: 0;
              div {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5%;
                // background-color: #ca267b;
                @media screen and (max-width: 1224px) {
                  align-items: center;
                  justify-content: space-between;
                }
              }
            }
          }
          .contactButton {
            z-index: 3;
            transition: 0.1s linear all;
            cursor: pointer;
          }
          .contactButton:hover {
            scale: 0.9;
          }
        }
      }
    }
  }
}
