.button {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-image: linear-gradient(to bottom, #c13a7a, #390f23);
    border: 0px;
    color: antiquewhite;
    letter-spacing: 2px;
    width: 30vh;
    height: 7vh;
    border-radius: 13px;
    cursor: pointer;
  }
}
