.button {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-image: linear-gradient(to bottom, #fc00ff, #610f59);
    border: 0px;
    color: antiquewhite;
    letter-spacing: 2px;
    width: 25vh;
    height: 5vh;
    border-radius: 20px;
    cursor: pointer;
    transition: scale 0.3s;
  }
  button:hover {
    scale: 0.93;
  }
}
