.button button{
    background-color: #C13A7A;
    color: antiquewhite;
    letter-spacing: 2px;
    width: 30vh;
    height: 7vh;
    border-radius: 13px;
    margin-left: 50%;
    transform: translateX(-50%);
}