.footer {
  display: flex; 
  justify-content: space-between;
  padding: 0% 5%;
  letter-spacing: 3px;
  height: 7vh;
}

.socialMenu {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}

.social {
  justify-content: center;
  padding: 0%;
  margin: 50% 30%;
  transform: translateY(-50%);
}



