.header {
  height: 10vh;
  width: 90vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  overflow: hidden;
  z-index: 21;
}

.logo img {
  padding: 0% 0%;
  height: 100%;
  display: flex;
  align-content: center;
}

.menu {
  height: 100%;
  min-width: 40vw;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  transition: 0.3s linear all;
}

.menu li h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0%;
  transition: 0.3s linear all;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: antiquewhite;
  width: 100%;
  letter-spacing: 5px;
  font-size: 1em;
  /* background-color: #ca267b; */
}

.menu li h6:hover {
  cursor: pointer;
  color: #ca267b;
  border-bottom: 1px solid antiquewhite;
}
