.serviceContainer {
  height: 90%;
  width: 100vw;
  padding-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  @media screen and (max-width: 1224px) {
    height: 100%;
  }
  .serviceWrapper {
    height: 83vh;
    width: 100%;
    background-color: #000;
    display: flex;
    overflow-x: hidden;
    @media screen and (max-width: 1224px) {
      flex-direction: column-reverse;
      height: 100%;
    }
    .topLeft {
      height: 100%;
      width: 25%;
      padding: 0%;
      overflow: hidden;
      overflow-x: hidden;
      @media screen and (max-width: 1224px) {
        width: 90%;
        height: 100%;
        padding: 0 5%;
        // margin-top: 10vh;
      }

      h1 {
        margin: 5vh 0 0 0;
        font-size: 3em;
        color: #fc00ff;
        padding: 0 5%;
      }
      h3 {
        color: #bdbdbd;
        padding: 0 5%;
      }
      .banner {
        height: 60%;
        width: 100%;
        margin-top: 10vh;
        @media screen and (max-width: 1224px) {
        }
        p {
          color: #0d99a3;
          padding: 0 5%;
          display: flex;
          height: 14%;
          width: 55%;
          border-radius: 0px 10px 10px 0;
          justify-content: flex-start;
          align-items: center;
          background-color: #1f1f1f;
          transition: background-color 0.3s;
          font-weight: 600;
          cursor: pointer;
          @media screen and (max-width: 1224px) {
            height: 5vh;
          }
        }

        p:hover {
          background-color: #00dbde;
          color: #1f1f1f;
        }
      }
    }
    .topRight {
      width: 40%;
      top: 10vh;
      scrollbar-color: #000;
      scroll-behavior: smooth;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.5em;
      padding: 0 5% 5% 5%;
      transition: width font background-color 1s;
      overflow: scroll;
      overflow-x: hidden;
      @media screen and (max-width: 1224px) {
        width: 90vw;
        height: 58vh;
        border: 0;
      }

      h1 {
        margin-top: 8%;
      }
      h3 {
        margin-top: 15%;
      }
      p {
        font-size: 0.75em;
        margin: 1% 0%;
        color: #bdbdbd;
      }
      .serviceDesc {
        width: 100%;
        @media screen and (max-width: 1224px) {
          width: 100%;
        }
      }
      .serviceBenefit {
        width: 100%;
        @media screen and (max-width: 1224px) {
          width: 100%;
        }
        .item {
          display: flex;
          align-items: center;
          .bullet {
            width: 30px;
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
        p {
          padding: 0 1%;
        }
      }
      .serviceIncluded {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15%;
        box-shadow: 0px 0px 15px #00dbde;
        border-radius: 10px;
        padding: 5%;
        .includedLeft {
          height: 100%;
          width: 45%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          h4 {
            margin: 0;
          }
          .includedItemList {
            height: 100%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .includedItem {
              display: flex;
              align-items: center;
              p {
                padding-left: 10%;
              }
              .check {
                font-size: 20px;
                display: flex;
                align-items: center;
              }
            }
            .price {
              font-weight: 700;
              color: #00dbde;
            }
            .notIncludedItem {
              display: flex;
              p {
                padding-left: 10%;
              }
            }
          }
        }
        .includedRight {
          height: 100%;
          width: 65%;
          .pSmall {
            font-size: 14px;
          }
          h4 {
            margin: 0;
          }
          .rightContainers {
            padding-bottom: 5%;
          }
        }
      }
      .serviceCTA {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
          margin-bottom: 5%;
        }
      }
    }
    .topModel {
      margin-top: 4vh;
      width: 35%;
      height: 75vh;
    }
  }
}
