@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

body {
  height: 100%;
  width: 100vw;
  background-color: #0d0d0d;
  font-family: "Jura", sans-serif;
  color: antiquewhite;
  margin: 0%;
  padding: 0%;
}
.mainContainer {
  height: 100%;
  width: 100vw;
}
