@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&display=swap");

body {
  height: 100%;
  width: 100vw;
  background-color: #0d0d0d;
  font-family: "Abel", serif;
  color: antiquewhite;
  margin: 0%;
  padding: 0%;
}
.mainContainer {
  height: 100%;
  width: 100vw;
  background-color: #000004b7;
}
.Toastify__progress-bar-theme--dark {
  background-color: #0d99a3 !important;
}
