@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  height: 100%;
  width: 100vw;
  background-color: #0d0d0d;
  font-family: "Abel", sans-serif;
  color: antiquewhite;
  margin: 0%;
  padding: 0%;
}
.mainContainer {
  height: 100%;
  width: 100vw;
}
.Toastify__progress-bar-theme--dark {
  background-color: #0d99a3 !important;
}
